# Temporary Files
*~
.*.swp
.DS_STORE
desktop.ini
robovm-build/
project.xcworkspace/
xcuserdata/
xcode/native/
.gradle/
target/
/dist

*.a
*.a.tvos
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class
hs_err_pid*
Thumbs.db

libgdx-*.zip
libgdx-*.zip.MD5

*.iml
.idea/
